.swiper.swiper-conocenos {
	@apply mt-20 w-screen h-auto;
}
.swiper.swiper-conocenos .swiper-button-prev {
	left: 5%;
}
.swiper.swiper-conocenos .swiper-button-next {
	right: 5%;
}
.swiper.swiper-conocenos .swiper-button-prev,
.swiper.swiper-conocenos .swiper-button-next {
	@apply bg-black/20 text-leche w-10 h-10 rounded-full;
}
.swiper.swiper-conocenos .swiper-button-prev::after,
.swiper.swiper-conocenos .swiper-button-next::after {
	@apply text-xl;
}
.swiper.swiper-conocenos .swiper-wrapper {
	@apply w-screen px-[5%];
}
.swiper.swiper-conocenos .swiper-slide {
	width: 400px;
	@apply rounded-xl bg-rojo-200 dark:bg-rojo-oscuro-200 text-white;
	box-shadow: -2px 2px 0.3125rem 1px rgba(0, 0, 0, 0.2);
}
